Repository Salvi0/modmail-2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @onerandomusername, @Shivansh-007, @bast0006, @discord-modmail/bot

feat: basic help command using real pagination
  modmail/extensions/utils/help_command.py
  modmail/utils/pagination.py
Owners: @onerandomusername, @bast0006, @discord-modmail/bot

feat: add minimal help_command
  modmail/extensions/utils/help_command.py
  modmail/utils/pagination.py
Owners: @onerandomusername, @bast0006, @discord-modmail/bot

rename help_command to help
  modmail/extensions/utils/help.py
Owners: @onerandomusername, @bast0006, @discord-modmail/bot

fix: paginator can now not use an embed
  modmail/utils/pagination.py
  tests/modmail/utils/test_pagination.py
Owners: @onerandomusername, @bast0006, @discord-modmail/bot

feat: debugger module for dumping logs in guild
  modmail/extensions/debug.py
Owners: @onerandomusername, @bast0006, @discord-modmail/bot

ci: add python 3.10 to workflows
  .github/workflows/lint_test.yml
Owners: @Shivansh-007, @onerandomusername

ci: change python 3.10 version format
  .github/workflows/lint_test.yml
Owners: @Shivansh-007, @onerandomusername

feat: add helper responses module
  modmail/utils/responses.py
Owners: @onerandomusername, @bast0006, @discord-modmail/bot

nit: don't use "from x" imports
  modmail/utils/responses.py
Owners: @onerandomusername, @bast0006, @discord-modmail/bot

fix: make constants SCREAMING_SNAKE_CASE
  modmail/utils/responses.py
Owners: @onerandomusername, @bast0006, @discord-modmail/bot

tests: add full test suite for utils.responses
  tests/modmail/utils/test_responses.py
Owners: @onerandomusername

fix: restructure responses module to make it easier to use
  modmail/utils/responses.py
Owners: @onerandomusername, @bast0006, @discord-modmail/bot

tests: add some error handler tests
  tests/modmail/extensions/utils/__init__.py
  tests/modmail/extensions/utils/test_error_handler.py
Owners: @onerandomusername

tests: test the first half of the error handler
  modmail/extensions/utils/error_handler.py
  tests/modmail/extensions/utils/test_error_handler.py
Owners: @onerandomusername, @bast0006, @discord-modmail/bot

.github/CODEOWNERS:

# Default owner
* @onerandomusername

# CI and Tools
/.github/workflows/     @Shivansh-007 @onerandomusername
poetry.lock             @Shivansh-007 @onerandomusername
pyproject.toml          @Shivansh-007 @onerandomusername

# The modmail bot itself
/modmail/               @onerandomusername @bast0006 @discord-modmail/bot

# Shared section between the bot and site
/shared/                @onerandomusername @Shivansh-007 @bast0006

SECURITY.md             @bast0006
