Repository Salvi0/modmail-2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @onerandomusername, @Shivansh-007, @bast0006, @dawnofmidnight

.github/CODEOWNERS:

# Set myself to default owner for all files
* @onerandomusername

/.github/workflows/ @Shivansh-007

/modmail/ @onerandomusername @bast0006 @Shivansh-007

/website/ @bast0006 @dawnofmidnight

/shared/ @onerandomusername @Shivansh-007 @bast0006

feat: basic help command using real pagination
  modmail/extensions/utils/help_command.py
  modmail/utils/pagination.py
Owners: @onerandomusername, @bast0006, @Shivansh-007

feat: add minimal help_command
  modmail/extensions/utils/help_command.py
  modmail/utils/pagination.py
Owners: @onerandomusername, @bast0006, @Shivansh-007

rename help_command to help
  modmail/extensions/utils/help.py
Owners: @onerandomusername, @bast0006, @Shivansh-007

fix: paginator can now not use an embed
  modmail/utils/pagination.py
  tests/modmail/utils/test_pagination.py
Owners: @onerandomusername, @bast0006, @Shivansh-007

feat: debugger module for dumping logs in guild
  modmail/extensions/debug.py
Owners: @onerandomusername, @bast0006, @Shivansh-007

ci: add python 3.10 to workflows
  .github/workflows/lint_test.yml
Owners: @Shivansh-007

ci: change python 3.10 version format
  .github/workflows/lint_test.yml
Owners: @Shivansh-007

feat: add helper responses module
  modmail/utils/responses.py
Owners: @onerandomusername, @bast0006, @Shivansh-007

nit: don't use "from x" imports
  modmail/utils/responses.py
Owners: @onerandomusername, @bast0006, @Shivansh-007

fix: make constants SCREAMING_SNAKE_CASE
  modmail/utils/responses.py
Owners: @onerandomusername, @bast0006, @Shivansh-007

tests: add full test suite for utils.responses
  tests/modmail/utils/test_responses.py
Owners: @onerandomusername

fix: restructure responses module to make it easier to use
  modmail/utils/responses.py
Owners: @onerandomusername, @bast0006, @Shivansh-007

tests: add some error handler tests
  tests/modmail/extensions/utils/__init__.py
  tests/modmail/extensions/utils/test_error_handler.py
Owners: @onerandomusername

tests: test the first half of the error handler
  modmail/extensions/utils/error_handler.py
  tests/modmail/extensions/utils/test_error_handler.py
Owners: @onerandomusername, @bast0006, @Shivansh-007
